---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | Kollin Francis">
  <div class="w-3/5 h-5/6 grid grid-rows-1 grid-cols-1 px-4 items-center">
    <div class="grid grid-rows-5 grid-cols-1 gap-2 h-fit">
      <h1 class="col-span-1 row-span-2 text-6xl">I'm Kollin Francis.</h1>
      <p class="col-span-1 text-lg">I work at <a href="https://impact.com">Impact.com.</a></p>
      <p class="col-span-1 text-lg">I like TypeScript and React.</p>
      <p class="col-span-1">I dabble in Japanese.</p>
    </div>
  </div>
</Layout>