---
import NavBar from '../components/NavBar.astro';
const { title } = Astro.props
---

<html lang="en" class="h-screen">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
    <script async defer data-website-id="abc898e1-748f-4dea-bb9b-31de33399074" src="https://umami-production-0a42.up.railway.app/umami.js"></script>
	</head>
	<body class="bg-violet h-screen text-snow">
    <NavBar />
		<slot />
	</body>
</html>
